.nav {
    position: fixed;
    bottom: 2rem;
    left: 10%;
    right: 10%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
    backdrop-filter: blur(2px);
    border-radius: 9999px;
    max-width: 460px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
  
.nav-link {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: linear-gradient(to right, #00193A , #CD0C2B);
}